<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>JavaScript & SasS Todo List</title>
    <link rel="stylesheet" href="../static/css/style.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css"
    />
  </head>
  <body>
    <div class="container">
      <h1>Todo List</h1>
      <form>
        <input type="text" id="taskInput" placeholder="Yeni Görev" />
        <button class="todoBtn">Ekle</button>
      </form>

      <ul id="taskList">
        
          
      </ul>
    </div>

    <script src="../static/javascript/script.js"></script>
  </body>
</html>
